@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind globals.css */
@layer components {
  .input-style {
    @apply w-[90%] h-[50px] border-2 border-[#20c7ff] px-4 py-2 bg-white rounded-lg shadow-md text-gray-700 text-lg outline-none;
  }
}

 ::-webkit-scrollbar{
  display: none;
}

body {
  -ms-overflow-style:none;
  scrollbar-width: none;
  overflow: hidden;
} 
